$cardheight : 23em;
$cardmargin : 6px;
$cardpadding : 11px;


.topic-thumbnail {
  float: left;
  padding-right: 15px;

  .no-thumbnail {
    display: none;
  }
}

.topic-list .main-link a.title {
  padding: 0;
}

html:not(.mobile-view) #list-area.social-style, #suggested-topics .social-style {
  .show-more {
    top: 0;
  }

  .topic-statuses {
    float: right;
  }


  div.inline, span.inline {
    float: none;
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px 0 0;
    margin: 0;
    line-height: 20px;
    .badge-wrapper {
      margin: 0;
    }
  }

  .topic-poster-names a {
    font-size: 0.9em;
  }

  div.sub, span.sub {
    padding: 0;
    font-size: 12px;
  }
}


#list-area.social-style .contents, #suggested-topics .social-style .contents {
  .main-link {
    display: block;
  }

  .topic-details {
    float: left;
    max-height: none;
  }

  .topic-intro, .topic-thumbnail {
    padding: 0;
    margin: 7px 0;
  }


  .topic-title {


    a.title {
      color: $primary;
    }

    .badge-notification.new-topic {
      vertical-align: top;
      display: inline-block;
    }

  }

  .topic-meta-social {
    float: right;
  }

  .discourse-tags {
    margin-top: 2px;
  }

  .topic-details {
    width: 100%;
  }

  .activity, .age {
    width: initial;
  }

  .list-button {
    padding: 0;
  }

  .topic-footer {
    display: flex;
    justify-content: space-between;
  }
}



.main-link .topic-category {
  float: left;
  clear: left;

  .badge-wrapper {
    font-size: 12px;
  }
}

.topic-list .topic-actions {
  float: left;
  clear: both;
}

.main-link .topic-statuses {
  line-height: 19px;
}

.like-count, .list-vote-count {
  color: dark-light-choose(scale-color($primary, $lightness: 60%), scale-color($secondary, $lightness: 40%));
  font-size: 13px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 2px;

  .vote-count {
    height: initial;
    line-height: initial;
    font-weight: initial;
  }
}

.list-vote-count {
  float: left;
  padding-right: 3px;
  margin-top: 5px;
}

.topic-actions .list-vote-count {
  float: none;
  margin-top: 0;
}

button.list-button {
  font-size: 0.9em;
  background: transparent;
  border: none;
  padding: 2px 4px;
  margin-right: 5px;
  overflow: hidden;

  &:first-of-type {
    padding-left: 1px;
  }

  i {
    vertical-align: bottom;
  }

  &.has-like, &.topic-like:not([disabled]):hover {
    color: $love;
  }

  &.has-like[disabled]:hover {
    background: transparent;
  }

  &.has-like[disabled]:active {
    box-shadow: none;
  }

  &.bookmarked, &.topic-bookmark:hover {
    i.fa-bookmark, .d-icon-bookmark {
      color: $tertiary; 
    }
  }
}

.user-main .list-button {
  .fa-heart, .d-icon-heart {
    color: inherit !important;
  }

  &.has-like {
    .fa-heart, .d-icon-heart {
      color: $love !important;
    }
  }
}



.tlp-featured-topics.has-topics {
  display: inline-block;
  width: 100%;

  .topics {
    padding: 0 10px; 
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;

    .tlp-featured-topic {
      margin-right: 10px;
      cursor: pointer;
      position: relative;

      &.show-details .featured-details {
        background-color: rgba(62, 66, 79, 0.8);

        .content, .content a {
          color: $secondary;
        }

        img {
          visibility: visible;
        }
      }

      .user {
        position: absolute;
        bottom: 10px;
        right: 10px;

        img {
          margin-left: 5px;
        }
      }
    }

    .featured-details {
      transition: background-color 200ms linear;
      background-color: rgba(0,0,0,0);
      padding: 15px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      .content, .content a {
        color: transparent;
        transition: color 200ms linear;
      }

      img {
        visibility: hidden;
        transition: visibility 100ms linear;
      }

      .excerpt {
        padding-bottom: 15px;
      }
    }
  }

  .featured-link {
    margin-top: 10px;
    padding-right: 10px;
    float: right;
  }
}



/*  category lists (MAIN LAYOUT - breaks the forum layout into a thumbnail image display with metadata on hover)  */

/* normalize some sloppiness in the plugin's layout */

#list-area.social-style .contents .topic-details {height:0px;}
#list-area {margin-bottom:0px;}
.topic-list>tbody {display:block; margin-left:0; margin-right:0;}
.link-top-line {display:none;}
html:not(.mobile-view) #list-area.social-style .topic-list-item-separator {display:none;}
html:not(.mobile-view) #list-area.social-style div.topic-replies, html:not(.mobile-view) #list-area.social-style span.topic-replies {display:none;}


/*
@media (max-width:980px){#list-area.social-style .contents tr.topic-list-item {width:33%;}}
@media (max-width:425px){#list-area.social-style .contents tr.topic-list-item {width:100%;}}
*/

#list-area.social-style .contents tr.topic-list-item {display:inline-block; border:none; width:auto; position:relative;}
#list-area.social-style .contents .topic-thumbnail {display:flex; flex-wrap:wrap; margin:0;}
#list-area.social-style .contents .topic-list-item td {display:flex; flex-wrap:wrap; position:relative; align-items:center; justify-items:center; margin:0px; padding:$cardmargin; color:#dedede;}
.topic-list-item img.thumbnail {height:$cardheight !important; flex-grow:1; object-fit:cover; width:auto !important; max-width:100%; margin:$cardmargin; opacity:1; transition:0.42s;}

.like-count, .list-vote-count {color:#ffffff;}

#list-area.social-style .contents tr.topic-list-item img.thumbnail {width:auto; height:100%; }
#list-area.social-style .contents tr.topic-list-item:hover img.thumbnail {opacity:0.23;}

.topic-meta-data {min-height:45px; align-items:flex-start;}

.latest-topic-list-item {border-bottom:rgba(128,108,102,0.3) 1px solid;}



/* views and age */

.topic-meta {display:block; position:absolute; z-index:11; opacity:1;}
span.views_lowercase {display:none;}
.meta-views {display:none;}
.age {font-size:0.8em; text-transform:uppercase; padding:11px;}
.age, .age a {color:#ffffff;}


/* likes and bookmarks */

button.list-button.bookmarked i.fa-bookmark, button.list-button.topic-bookmark:hover i.fa-bookmark {color:#eda346;}
button.list-button.topic-bookmark {
  display:block;
  position:absolute;
  top:11px;
  right:11px;
  font-size:1.1em;
  z-index:15;
}



.project-card {
  display:block;
  position:absolute;
  background:transparent;
  width:100%;
  top:0;
  bottom:0;
  left:0;
  z-index:11;
  transition:1.1s;
  opacity:0;
}

.project-link {display:block; position:absolute; top:0; z-index:13; height:17em; width:100%;}

.topic-list .posters {
  display:block;
  width:100%;
  text-align:center;
  z-index:11;
  margin: $cardpadding;
  position:absolute;
  bottom:$cardpadding;
  left: $cardpadding;
}

.topic-list .posters>a {
  display:block;
  margin:0 auto;
}


button.list-button.topic-like {
  display:block;
  width:66px;
  font-size:2em;
  position:absolute;
  left:50%;
  top:50%;
  z-index:23;
  transform:translate(-50%, -50%);
}


/* text excerpt that appears on items without featured images */

.topic-list.show-thumbnail .topic-excerpt {
  position:absolute;
  top:0; 
  left:0;
  width:auto;
  max-width:69%;
  color:#e0beb4;
  font-size:1em;
  font-style:italic;
  padding:11px 23px;
  margin:42px 0 0 23px;
  border-left:#806c66 3px solid;
  word-wrap:break-word;
  transition:0.2s;
}

#suggested-topics .topic-excerpt {
  display:none;
}

div.topic-thumbnail>a>img.defaultImg .topic-excerpt {
  font-size:2em;
}


tr.topic-list-item:hover .project-card {opacity:1;}
tr.topic-list-item:hover .topic-excerpt {opacity:0.3;}

/* hidden elements - for now */

#suggested-topics tr .project-card {display:none;}


.project-title {
  display:block;
  width:60%;
  float:left;
}

.topic-list .topic-featured-link {padding:0;}

.topic-title {
  font-size: .93em;
  margin-bottom: 0;
  font-weight:700;
  text-transform:uppercase;
  white-space:wrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.topic-statuses {display:none;}


.topic-category {
  display:block;
  width:100%;
}

.badge-wrapper.bar span.badge-category {color:#e0beb4; padding:0;}

td.category {display:inline !important; position:absolute !important;}

.badge-wrapper.bar .badge-category-parent-bg, .badge-wrapper.bar .badge-category-bg {display:none; margin:0;}


.topic-list .views {
  display:block;
  float:left;
  width:100%;
  font-size:0.77em;
  text-align:left;
  margin:11px 0;
}


.project-title {display:none !important;}
.topic-list .views {display:none;}


.topic-list .posters>a:first-of-type img {width:45px; height:45px;}
.topic-list .posters>a:not(:first-of-type) img{margin:6px; width:33px !important; height:33px !important;}
/* pinned + featured projects effect */

#suggested-topics tr.pinned .pinned-project, tr .pinned-project {
  display:none;
}




tr.pinned .pinned-project, tr.pinned .pinned-project::before, tr.pinned .pinned-project::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index:10;
}

tr.pinned .pinned-project {
  display:block;
  width: 100%;
  height: 100%;
  margin: auto;
  transition:2.3s;
}


tr.pinned .pinned-project::before, tr.pinned .pinned-project::after {
  content: '';
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid #ffffff;
  -webkit-transform: scale(0.23);
          transform: scale(0.23);
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

tr.pinned .pinned-project::before {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  border-right: 0;
  border-bottom: 0;
}

tr.pinned .pinned-project::after {
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  border-top: 0;
  border-left: 0;
}

tr.pinned .pinned-project:hover::before,
tr.pinned .pinned-project:hover::after {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}